# Análise Exploratória de Dados nos aluguéis de imóveis do Airbnb no Rio de Janeiro

In [22]:
import pandas as pd
import seaborn as sns

In [23]:
df_listings = pd.read_csv('listings.csv')

In [12]:
set_of_columns = set(df_listings.columns)

In [18]:
with open('list_of_listings_columns_keep.txt', 'r') as file:
    list_of_columns_keep = [column.strip('\n') for column in file]

In [19]:
set_of_columns_keep = set(list_of_columns_keep)

In [24]:
set_of_columns_remove = set_of_columns-set_of_columns_keep
list_of_columns_remove = list(set_of_columns_remove)

In [26]:
df_listings = df_listings.drop(columns=list_of_columns_remove)

In [30]:
with open('list_of_listings_columns_renamed.txt', 'r') as file:
    list_of_columns_renamed = [column.strip('\n') for column in file]

In [33]:
rename_map = dict(zip(list_of_columns_keep, list_of_columns_renamed))

In [35]:
df_listings = df_listings.rename(columns=rename_map)

## Sumarização dos dados

### Contagem de registros de dados

In [44]:
df_listings.describe().transpose()['count']

id                   23635.0
h_id                 23635.0
lat                  23635.0
long                 23635.0
accom                23635.0
bathrooms                0.0
bedrooms             22054.0
beds                 23407.0
cal_updated              0.0
reviews              23635.0
reviews_ltm          23635.0
reviews_l30d         23635.0
sc_rat               14980.0
sc_acc               14501.0
sc_clean             14502.0
sc_cin               14501.0
sc_comm              14503.0
sc_loc               14500.0
sc_val               14501.0
lic                      0.0
reviews_per_month    14980.0
Name: count, dtype: float64

In [57]:
df_listings.head(20)['bathrooms_text']

0             1 bath
1             1 bath
2             1 bath
3          1.5 baths
4             1 bath
5           15 baths
6     1 private bath
7          3.5 baths
8             1 bath
9            7 baths
10            1 bath
11           4 baths
12         2.5 baths
13           7 baths
14           2 baths
15            1 bath
16    1 private bath
17           2 baths
18            1 bath
19           4 baths
Name: bathrooms_text, dtype: object